<div class="relative">
  <input type="hidden" name="date" x-ref="date" />
  <input
    type="text"
    readonly
    [(ngModel)]="datepickerValue"
    (keydown.escape)="showDatepicker = false"
    class="
      w-full
      pl-4
      pr-10
      py-3
      leading-none
      rounded-md
      shadow-sm
      border border-gray-300
      focus:outline-none focus:ring-teal-500 focus:border-teal-500
      text-gray-600
      font-medium
    "
    placeholder="Select date"
  />

  <div class="absolute top-0 right-0 px-3 py-2 cursor-pointer" (click)="showDatepicker = !showDatepicker">
    <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
      />
    </svg>
  </div>

  <div
    class="bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0 border-teal-100 z-50" 
    style="width: 17rem"
    [hidden]="!showDatepicker"
    (keydown.away)="showDatepicker = false"
  >
    <!-- Calendar Header -->
    <div class="flex justify-between items-center mb-2">
      <div>
        <select (change)="changeMonth($event)" class="p-2 rounded bg-transparent text-gray-700">
          <ng-container *ngFor="let monthName of MONTH_NAMES; let index = index">
            <option [value]="index" [selected]="month === index">{{ monthName }}</option>
          </ng-container>
        </select>
        <span class="ml-4 text-lg text-gray-600 font-normal">{{ year }}</span>
      </div>
      <div>
        <button
          type="button"
          class="
            transition
            ease-in-out
            duration-100
            inline-flex
            cursor-pointer
            hover:bg-teal-200
            p-1
            rounded-full
          "
          [ngClass]="{ 'cursor-not-allowed opacity-25': year === minYear }"
          [disabled]="year === minYear"
          (click)="changeYear(-1)"
        >
          <svg
            class="h-6 w-6 text-gray-500 inline-flex"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <button
          type="button"
          class="
            transition
            ease-in-out
            duration-100
            inline-flex
            cursor-pointer
            hover:bg-teal-200
            p-1
            rounded-full
          "
          [ngClass]="{ 'cursor-not-allowed opacity-25': year === maxYear }"
          [disabled]="year === maxYear"
          (click)="changeYear(1)"
        >
          <svg
            class="h-6 w-6 text-gray-500 inline-flex"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Days of the Week -->
    <div class="flex flex-wrap mb-3 -mx-1">
      <ng-container *ngFor="let day of DAYS">
        <div style="width: 14.26%" class="px-1">
          <div class="text-gray-800 font-medium text-center text-xs">{{ day }}</div>
        </div>
      </ng-container>
    </div>

    <!-- Calendar Dates -->
    <div class="flex flex-wrap -mx-1">
      <ng-container *ngFor="let blankday of blankdays">
        <div style="width: 14.28%" class="text-center border-none p-1 border-transparent text-sm"></div>
      </ng-container>
      <ng-container *ngFor="let date of no_of_days; let dateIndex = index; trackBy: trackByIdentity">
        <div style="width: 14.28%" class="px-1 mb-1">
          <div
            (click)="getDateValue(date)"
            class="
              cursor-pointer
              text-center text-sm
              rounded-full
              leading-loose
              transition
              ease-in-out
              duration-100
              hover:bg-teal-200
              hover:text-teal-800
              focus:outline-none
            "
            [ngClass]="{
              'bg-teal-500 text-white': isToday(date),
              'bg-white text-teal-600': !isToday(date) && date === selectedDate
            }"
          >
            {{ date }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
