<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <style>
      .custom-border {
        border: 1px solid #e5e7eb;
      }
    </style>
  </head>
  <div *ngIf="!isOtp && accountSelected">
    <header class="bg-white border-b border-gray-200 p-4">
      <nav class="flex items-center">
        <div
          style="color: #089b8c; font-size: x-large"
          class="text-xl font-bold mr-14 ml-6"
        >
          Worklin
        </div>
      </nav>
    </header>
    <body class="flex items-center justify-center mt-10">
      <div class="bg-white p-8 rounded-lg w-full max-w-xl">
        <h2 class="text-3xl font-bold text-center mb-6">Sign up</h2>
        <!-- <div class="mb-4 ml-24 self-center"> -->
        <!-- <div
          class="bg-blue-500 py-2 hover:bg-blue-600 text-white rounded-lg focus:outline-none focus:shadow-outline w-full flex items-center justify-center relative"
        > -->
        <!-- <app-google-signin></app-google-signin> -->
        <app-google-signup></app-google-signup>
        
        <!-- </div> -->
        <!-- </div> -->

        <div class="flex items-center mb-4">
          <hr class="flex-grow border-gray-300" />
          <span class="mx-2 text-gray-500">or</span>
          <hr class="flex-grow border-gray-300" />
        </div>
        <div *ngIf="errorMessage" class="text-red-900 text-sm text-center mb-4">
          {{ errorMessage }}
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="flex space-x-4">
            <input
              type="text"
              placeholder="First name"
              formControlName="firstName"
              class="w-1/2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
              [ngClass]="{
                'border-red-500': firstName?.invalid && firstName?.touched
              }"
            />
            <input
              type="text"
              placeholder="Last name (optional)"
              formControlName="lastName"
              class="w-1/2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
              [ngClass]="{
                'border-red-500': lastName?.invalid && lastName?.touched
              }"
            />
          </div>
          <div
            *ngIf="firstName?.invalid && firstName?.touched"
            class="text-red-500 text-sm pl-1"
          >
            <div *ngIf="firstName?.errors?.['required']">
              First Name is required
            </div>
            <div *ngIf="firstName?.errors?.['minlength']">
              First Name must be at least 2 characters long
            </div>
          </div>
          <div class="mb-4 mt-4">
            <input
              type="email"
              formControlName="email"
              placeholder="Work email address"
              [ngClass]="{ 'border-red-500': email?.invalid && email?.touched }"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
            />
            <div
              *ngIf="email?.invalid && email?.touched"
              class="text-red-500 text-sm pl-1"
            >
              <div *ngIf="email?.errors?.['required']">Email is required</div>
              <div *ngIf="email?.errors?.['email']">Invalid email address</div>
              <div *ngIf="email?.errors?.['emailTaken']">
                Email is already taken.
              </div>
              <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
              </div>
            </div>
          </div>
          <div class="mb-4">
            <input
              type="password"
              formControlName="password"
              placeholder="Password"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
              autocomplete="new-password"
              [ngClass]="{
                'border-red-500': password?.invalid && password?.touched
              }"
            />
            <div
              *ngIf="password?.invalid && password?.touched"
              class="text-red-500 text-sm pl-1"
            >
              <div *ngIf="password?.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="password?.errors?.['minlength']">
                Password must be at least 6 characters long
              </div>
            </div>
          </div>
          <div class="mb-4">
            <input
              type="text"
              placeholder="Country"
              formControlName="country"
              [ngClass]="{
                'border-red-500': country?.invalid && country?.touched
              }"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-600"
            />
            <div
              *ngIf="country?.invalid && country?.touched"
              class="text-red-500 text-sm pl-1"
            >
              <div *ngIf="country?.errors?.['required']">
                Country is required
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox text-teal-600" />
              <span class="ml-2 text-sm">
                Send me emails with tips on how to find talent that fits my
                needs.
              </span>
            </label>
          </div>
          <div class="mb-4">
            <label class="flex items-center">
              <input
                type="checkbox"
                class="form-checkbox text-teal-600"
                required
              />
              <span class="ml-2 text-sm">
                Yes, I understand and agree to the
                <a href="#" class="text-teal-500">Terms of Service</a>,
                including the
                <a href="#" class="text-teal-500">User Agreement</a> and
                <a href="#" class="text-teal-500">Privacy Policy</a>.
              </span>
            </label>
          </div>
          <!-- <button
          type="submit"
          class="bg-teal-600 text-white w-full py-2 rounded-lg hover:bg-teal-700"
        >
          Create my account
        </button> -->

          <button
            type="submit"
            [disabled]="loading"
            [ngClass]="{
              'bg-teal-600 hover:bg-teal-700': !loading,
              'bg-gray-300 cursor-not-allowed': loading
            }"
            class="text-white w-full py-2 rounded-lg inline-flex items-center justify-center"
          >
            <svg
              *ngIf="loading"
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zM12 20a8 8 0 01-8-8H0c0 6.627 5.373 12 12 12v-4z"
              ></path>
            </svg>
            <span *ngIf="!loading">Create my account</span>
            <span *ngIf="loading">Loading...</span>
          </button>
        </form>
        <p class="mt-4 text-center">
          Already have an account? <a routerLink="/nx/login"  class="text-teal-500">Log In</a>
        </p>
      </div>

      <script src="https://accounts.google.com/gsi/client" async></script>
    </body>
  </div>
  <app-account-type *ngIf="!accountSelected && !isOtp" (accountTypeSelected)="getAccountType($event)" ></app-account-type>
  <app-verifyemail *ngIf="isOtp" (otpSubmitted)="handleOtpSubmitted($event)"  [email]="signupForm.get('email')?.value"></app-verifyemail>
</html>
