 .bg-gradient-green {
     background: linear-gradient(135deg, white 70%, #97ffee 100%);
 }

 input[type="radio"]:checked {
     border-color: #089b8c;
 }

 input[type="radio"]:checked::before {
     background-color: #089b8c;
 }

 input[type="radio"] {
     appearance: none;
     border: 2px solid #ddd;
     width: 1.2rem;
     height: 1.2rem;
     border-radius: 50%;
     display: inline-block;
     position: relative;
     outline: none;
     cursor: pointer;
     margin-right: 0.5rem;
 }

 input[type="radio"]::before {
     content: "";
     display: block;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     transform: scale(0);
     transition: transform 0.1s ease-in-out;
 }

 input[type="radio"]:checked::before {
     transform: scale(0.6);
 }