<div class="relative">
  <button (click)="toggleDropdown(index)" class="text-gray-600">
    <span class="material-icons">more_vert</span>
  </button>
  <div
    *ngIf="activeDropdownIndex === index"
    class="absolute right-0 mt-2 w-48 bg-white border rounded shadow-lg dropdown"
  >
    <ul class="py-1 text-gray-700">
      <li>
        <a [routerLink]="['/client/applications']" [queryParams]="{ id: jobPost?._id }" class="block px-4 py-2 hover:bg-gray-100">
          View proposals
        </a>
      </li>
      <li>
        <a [routerLink]="['/client/applications']" [queryParams]="{ id: jobPost?._id }" class="block px-4 py-2 hover:bg-gray-100">
          Invite freelancers
        </a>
      </li>
      <li>
        <a [routerLink]="['/client/applications']" [queryParams]="{ id: jobPost?._id }" class="block px-4 py-2 hover:bg-gray-100">
          View job posting
        </a>
      </li>
      <!-- <li>
        <a [routerLink]="['/client/applications']" [queryParams]="{ id: jobPost?._id }" class="block px-4 py-2 hover:bg-gray-100">
          Edit posting
        </a>
      </li> -->
      <li>
        <a [routerLink]="['/client/applications']" [queryParams]="{ id: jobPost?._id }" class="block px-4 py-2 hover:bg-gray-100">
          Remove posting
        </a>
      </li>
    </ul>
  </div>
</div>
