.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}

.otp-input:focus {
    border-bottom: 2px solid #36e3ac;
}