.border-custom {
    border: 1px solid #dde1e8;

}
 .rounded-lg {
     border-radius: 1rem;

 }
  .icon-wrapper {
      position: relative;
  }

  .pen-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: white;
      border-radius: 50%;
      padding: 0.25rem;
      border: 1px solid #e5e7eb;
  }
   .image-container {
       position: relative;
       height: 4rem;
       /* Adjust based on the desired size */
       width: 4rem;
       /* Adjust based on the desired size */
       border-radius: 50%;
       overflow: hidden;
       background-color: #f0f0f0;
       /* Light gray background */
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .image-container img {
       object-fit: cover;
       /* Ensures the image covers the container */
       width: 100%;
       height: 100%;
   }