<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .custom-border {
        border: 2px dashed #089b8c;
      }
      .add-education-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #089b8c;
        color: white;
        font-size: 24px;
        cursor: pointer;
      }
      .education-container {
        display: flex;
        align-items: flex-start;
        gap: 16px;
      }
      .education-list {
        flex: 1;
      }
      .input-container {
        flex: 1;
      }
      .expanded-input-container {
        flex: 2;
      }
    </style>
  </head>
  <body class="bg-white min-h-screen flex flex-col">
    <div class="bg-white border-b border-gray-200 w-full p-4">
      <div class="container mx-auto flex justify-between">
        <div style="color: #089b8c" class="text-xl font-bold">Worklin</div>
      </div>
    </div>

    <div class="flex flex-1 w-full justify-center items-center p-10">
      <div class="bg-white p-10 rounded-lg max-w-4xl w-full">
        <div class="mb-8">
          <span class="text-gray-500">6/10</span>
          <h1 class="text-2xl font-bold mt-2 mb-4">
            Clients like to know what you know - add your education here.
          </h1>
          <p class="text-gray-600">
            You don’t have to have a degree. Adding any relevant education helps
            make your profile more visible.
          </p>
          <p *ngIf="errorMessage" class="text-red-500 mt-4 text-center m-1">
            {{ errorMessage }}
          </p>
        </div>

        <!-- Container for education and add button -->
        <div class="education-container">
          <!-- Display the add education button -->
          <div
            *ngIf="education.length === 0"
            class="input-container border-dashed border-2 border-gray-300 p-10 text-center rounded-lg mb-6 custom-border expanded-input-container"
          >
            <button class="text-teal-500 text-lg" (click)="openModal()">
              + Add education
            </button>
          </div>

          <div
            *ngIf="education.length > 0"
            class="add-education-btn mt-6"
            (click)="openModal()"
          >
            +
          </div>

          <!-- Display education only if there are any -->
          <div *ngIf="education.length > 0" class="education-list">
            <div
              *ngFor="let edu of education"
              class="border p-4 rounded-lg flex justify-between items-center mb-4"
            >
              <div>
                <h2 class="text-lg font-bold">{{ edu.school }}</h2>
                <p class="text-gray-600">
                  {{ edu.degree }} in {{ edu.fieldOfStudy }} |
                  {{ edu.fromMonth }} {{ edu.fromYear }} - {{ edu.toMonth }}
                  {{ edu.toYear }}
                </p>
                <p class="text-gray-600">
                  {{ edu.description }}
                </p>
              </div>
              <div class="flex space-x-2">
                <button class="text-green-600" (click)="openEditModal(edu)">
                  <svg
                    width="26"
                    height="25"
                    viewBox="0 0 26 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <ellipse
                      cx="13"
                      cy="12.5202"
                      rx="13"
                      ry="12.4801"
                      fill="#4BB97B"
                    />
                    <ellipse
                      cx="12.9998"
                      cy="12.5197"
                      rx="11.8182"
                      ry="11.2321"
                      fill="white"
                    />
                    <path
                      d="M8.65808 17.3101H9.64047L16.3793 10.5713L15.3969 9.58888L8.65808 16.3277V17.3101ZM7.2793 18.6889V15.759L16.3793 6.67619C16.5172 6.5498 16.6694 6.45213 16.836 6.38319C17.0026 6.31425 17.1778 6.27979 17.3617 6.27979C17.5455 6.27979 17.7236 6.31425 17.896 6.38319C18.0683 6.45213 18.2177 6.55554 18.3441 6.69342L19.292 7.65857C19.4299 7.78496 19.5304 7.93433 19.5936 8.10668C19.6568 8.27903 19.6884 8.45138 19.6884 8.62372C19.6884 8.80756 19.6568 8.98278 19.5936 9.14939C19.5304 9.31599 19.4299 9.46823 19.292 9.60611L10.2092 18.6889H7.2793ZM15.8795 10.0887L15.3969 9.58888L16.3793 10.5713L15.8795 10.0887Z"
                      fill="#4BB97B"
                    />
                  </svg>
                </button>
                <button
                  (click)="deleteEducation(edu._id!)"
                  class="text-red-600"
                >
                  <svg
                    width="26"
                    height="25"
                    viewBox="0 0 26 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <ellipse
                      cx="13"
                      cy="12.5202"
                      rx="13"
                      ry="12.4801"
                      fill="#4BB97B"
                    />
                    <ellipse
                      cx="12.9998"
                      cy="12.5197"
                      rx="11.8182"
                      ry="11.2321"
                      fill="white"
                    />
                    <path
                      d="M9.4375 20C8.99063 20 8.60807 19.8477 8.28984 19.5431C7.97161 19.2384 7.8125 18.8722 7.8125 18.4444V8.33333H7V6.77778H11.0625V6H15.9375V6.77778H20V8.33333H19.1875V18.4444C19.1875 18.8722 19.0284 19.2384 18.7102 19.5431C18.3919 19.8477 18.0094 20 17.5625 20H9.4375ZM17.5625 8.33333H9.4375V18.4444H17.5625V8.33333ZM11.0625 16.8889H12.6875V9.88889H11.0625V16.8889ZM14.3125 16.8889H15.9375V9.88889H14.3125V16.8889Z"
                      fill="#4BB97B"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white w-full p-4 border-t border-gray-200">
      <div class="container mx-auto flex justify-between items-center">
        <button
          class="bg-gray-100 text-gray-600 py-2 px-4 rounded-lg hover:bg-gray-200 focus:outline-none"
        >
          Back
        </button>
        <div class="flex space-x-4">
          <button
            class="text-gray-500 py-2 px-4 rounded-lg hover:bg-gray-100 focus:outline-none"
          >
            Skip for now
          </button>
          <button
            class="bg-teal-600 text-white px-4 py-2 rounded-lg hover:bg-teal-700 focus:outline-none"
            (click)="onNext()"
          >
            Next, add languages
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
<app-add-education-modal
  *ngIf="isModalOpen"
  (close)="closeModal()"
  (save)="addEducation($event)"
></app-add-education-modal>
<app-edit-education-modal
  *ngIf="isEditModalOpen"
  [education]="selectedEducation"
  (close)="closeEditModal()"
  (save)="updateEducation($event)"
></app-edit-education-modal>