<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <header class="bg-white border-b border-gray-200 p-4">
    <nav class="flex items-center">
      <div
        style="color: #089b8c; font-size: x-large"
        class="text-xl font-bold mr-14 ml-6"
      >
        Worklin
      </div>
    </nav>
  </header>
  <body class="flex items-center justify-center min-h-screen">
    <div class="text-center bg-white rounded-lg w-full max-w-4xl">
      <h1 class="text-3xl font-bold -m-28 pb-8 mb-8">
        Join as a client or freelancer
      </h1>
      <div class="flex justify-center space-x-4 mb-8">
        <label class="radio-container w-full max-w-xs cursor-pointer"  (click)="selectType('client')">
          <input type="radio" name="role" id="client" />
          <div
            class="radio-box p-6 bg-white border rounded-lg shadow custom-border flex flex-col items-center"
          >
            <div class="text-5xl mb-7">
              <svg
                width="56"
                height="54"
                viewBox="0 0 56 54"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M44.9868 47.25H28.8868C28.3907 47.2898 27.8913 47.2336 27.4181 47.0846C26.9449 46.9356 26.5073 46.6968 26.1312 46.3824C25.7551 46.0679 25.448 45.6841 25.228 45.2535C25.008 44.8229 24.8795 44.3542 24.8501 43.875V34.875C24.8795 34.3958 25.008 33.9271 25.228 33.4965C25.448 33.0659 25.7551 32.6821 26.1312 32.3676C26.5073 32.0532 26.9449 31.8144 27.4181 31.6654C27.8913 31.5164 28.3907 31.4602 28.8868 31.5H44.9868C45.4817 31.4602 45.9798 31.5166 46.4517 31.6658C46.9235 31.8151 47.3595 32.0541 47.7338 32.3689C48.1081 32.6836 48.413 33.0676 48.6305 33.4981C48.848 33.9286 48.9737 34.3968 49.0001 34.875V43.875C48.9055 44.8257 48.4367 45.7053 47.6903 46.333C46.9438 46.9607 45.9764 47.2889 44.9868 47.25Z"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M39.4333 27H34.4167C34.2022 26.9776 33.9853 26.9995 33.7804 27.0643C33.5754 27.1291 33.3871 27.2353 33.2281 27.3759C33.0691 27.5164 32.9431 27.688 32.8583 27.8793C32.7736 28.0706 32.7321 28.2771 32.7367 28.485V31.5H41.1133V28.485C41.1179 28.2771 41.0764 28.0706 40.9917 27.8793C40.9069 27.688 40.7809 27.5164 40.6219 27.3759C40.4629 27.2353 40.2746 27.1291 40.0697 27.0643C39.8647 26.9995 39.6478 26.9776 39.4333 27Z"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M24.8501 38.9025H49.0001"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M23.4266 19.035C26.9447 19.035 29.7966 16.2849 29.7966 12.8925C29.7966 9.50009 26.9447 6.75 23.4266 6.75C19.9086 6.75 17.0566 9.50009 17.0566 12.8925C17.0566 16.2849 19.9086 19.035 23.4266 19.035Z"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7 41.5125V39.4875C7 35.3103 8.72083 31.3043 11.7839 28.3506C14.847 25.3969 19.0015 23.7375 23.3333 23.7375H23.5433C25.0514 23.7326 26.5524 23.9372 28 24.345"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <p class="text-xl font-semibold mb-4">
              I'm a client, hiring for a project
            </p>
          </div>
        </label>
        <label class="radio-container w-full max-w-xs cursor-pointer" (click)="selectType('freelancer')">
          <input type="radio" name="role" id="freelancer" />
          <div
            class="radio-box p-6 bg-white border rounded-lg shadow custom-border flex flex-col items-center"
          >
            <div class="text-5xl mb-6">
              <svg
                width="56"
                height="48"
                viewBox="0 0 56 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M45.2199 42H19.5532L23.3332 28H48.9999L45.2199 42Z"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M34.2765 36C34.9209 36 35.4432 35.5523 35.4432 35C35.4432 34.4477 34.9209 34 34.2765 34C33.6322 34 33.1099 34.4477 33.1099 35C33.1099 35.5523 33.6322 36 34.2765 36Z"
                  fill="black"
                  stroke="black"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M22.0032 42H13.9766"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M23.4266 16.92C26.9447 16.92 29.7966 14.4755 29.7966 11.46C29.7966 8.44453 26.9447 6 23.4266 6C19.9086 6 17.0566 8.44453 17.0566 11.46C17.0566 14.4755 19.9086 16.92 23.4266 16.92Z"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7 36.9V35.1C7 31.387 8.72083 27.826 11.7839 25.2005C14.847 22.575 19.0015 21.1 23.3333 21.1H23.5433C26.6821 21.0963 29.7545 21.8745 32.3867 23.34"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <p class="text-xl font-semibold">
              I'm a freelancer, looking for work
            </p>
          </div>
        </label>
      </div>
      
      <p class="mt-4">
        Already have an account?
        <a
          href="#"
          class="text-teal-500 hover:text-teal-700"
          routerLink="/nx/login"
          >Log In</a
        >
      </p>
    </div>
  </body>
</html>
