<header class="bg-white mb-4">
  <div class="flex items-center justify-between p-4">
    <div class="flex items-center space-x-4">
      <div class="flex items-center justify-start">
        <span class="text-3xl font-bold text-teal-600 pl-5 pr-3">
          <a href="admin/dashboard">Worklin</a></span
        >
      </div>

      <a href="admin/dashboard" class="text-gray-700 hover:text-teal-600"
        >Dashboard</a
      >
      <a href="admin/users" class="text-gray-700 hover:text-teal-600">Users</a>

      <a href="admin/category" class="text-gray-700 hover:text-teal-600"
        >Category</a
      >
      <a href="admin/skills" class="text-gray-700 hover:text-teal-600"
        >Skills</a
      >
      <a href="admin/paymentList" class="text-gray-700 hover:text-teal-600"
        >Payments</a
      >
      <a href="#" class="text-gray-700 hover:text-teal-600">About</a>
    </div>

    <div class="flex items-center space-x-4">
      <!-- Search input field, icon, and Dropdown Button container -->
      <div class="relative flex items-center">
        <!-- Container for input field, icon, and button -->
        <div
          class="flex items-center border border-gray-300 rounded-full overflow-hidden"
        ></div>

        <!-- Dropdown Menu -->
        <div
          id="dropdownMenu"
          [ngClass]="{ hidden: !isDropdownOpen }"
          class="absolute top-full left-0 mt-2 w-64 bg-white border border-gray-300 rounded-lg shadow-lg z-10"
        >
          <a
            href="#"
            class="flex flex-col items-start px-4 py-2 hover:bg-gray-100"
          >
            <div class="flex items-center space-x-4">
              <div class="flex items-center space-x-2">
                <svg
                  class="w-8 h-8 text-gray-600"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  role="img"
                >
                  <path
                    vector-effect="non-scaling-stroke"
                    stroke="var(--icon-color, #001e00)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M8 17.47H5.71A2.71 2.71 0 013 14.76v-9A2.71 2.71 0 015.71 3H12a2.71 2.71 0 012.72 2.71v2M5.71 6.62h6.33M5.71 9.33h2.88"
                  ></path>
                  <path
                    vector-effect="non-scaling-stroke"
                    stroke="var(--icon-color, #001e00)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M15.57 21a5.43 5.43 0 100-10.86 5.43 5.43 0 000 10.86z"
                  ></path>
                  <path
                    vector-effect="non-scaling-stroke"
                    stroke="var(--icon-color, #001e00)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M18 13.85l-3.46 3.45-1.39-1.4"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col">
                <span class="font-semibold text-gray-800">Jobs</span>
                <span class="text-gray-600 text-sm"
                  >Apply to jobs posted by clients</span
                >
              </div>
            </div>
          </a>
          <a
            href="#"
            class="flex flex-col items-start px-4 py-2 hover:bg-gray-100"
          >
            <div class="flex items-center space-x-4">
              <div class="flex items-center space-x-2">
                <svg
                  class="w-8 h-8 text-gray-600"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  aria-hidden="true"
                  viewBox="0 0 24 24"
                  role="img"
                >
                  <path
                    vector-effect="non-scaling-stroke"
                    stroke="var(--icon-color, #001e00)"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-miterlimit="10"
                    stroke-width="1.5"
                    d="M8.772 10.356a3.178 3.178 0 100-6.356 3.178 3.178 0 000 6.356zM3 19.436v-.28c0-3.365 2.633-6.076 5.902-6.076s5.902 2.71 5.902 6.075v.28m1.559-8.171a2.27 2.27 0 100-4.54 2.27 2.27 0 000 4.54zm-.571 2.724h.548c2.559 0 4.66 2.142 4.66 4.75v.698"
                  ></path>
                </svg>
              </div>
              <div class="flex flex-col">
                <span class="font-semibold text-gray-800">Talent</span>
                <span class="text-gray-600 text-sm">Find Freelancers</span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <span class="material-icons text-gray-700">help_outline</span>
      <span class="material-icons text-gray-700">favorite_border</span>
      <span class="material-icons text-gray-700" (click)="logout()">account_circle</span>
    </div>
  </div>
</header>
