<!-- <div id="g_id_onload"
     data-client_id="125784755803-3sor1tr15o31rjgelflafs7femkcip2e.apps.googleusercontent.com"
     data-context="signup"
     data-ux_mode="popup"
     data-login_uri="http:/localhost"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signup_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->

<button id="google-btn" class="ml-24 mb-6"></button>