<div class="px-7">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-normal">Messages</h1>
    <button class="text-gray-500">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 4v16m8-8H4"
        ></path>
      </svg>
    </button>
  </div>
  <div class="relative mt-6">
    <input
      type="text"
      class="w-full p-3 pl-10 border rounded-full focus:ring focus:ring-teal-500"
      placeholder="Search"
    />
    <svg
      class="absolute left-3 top-4 w-5 h-5 text-gray-400"
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#666666"
    >
      <path
        d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
      />
    </svg>
  </div>
  <div class="mt-6 flex-grow bg-gray-100 rounded-2xl overflow-y-auto">
    <!-- List of Conversations -->
    <div
      *ngFor="let room of rooms"
      class="p-4 cursor-pointer hover:bg-gray-200"
      (click)="onRoomSelect(room)"
      [class.bg-gray-300]="currentRoom?._id === room._id"
    >
      <div class="flex items-center">
        <div class="relative flex-shrink-0">
          <div class="w-12 h-12 bg-gray-300 rounded-full overflow-hidden">
            <img
              *ngIf="room?.participant?.picture"
              [src]="room?.participant?.picture"
              alt="profile"
              class="w-full h-full object-cover"
            />
          </div>
          <!-- Online status indicator -->
          <div
            *ngIf="isUserOnline(getOtherParticipant(room.participants))"
            class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 rounded-full border-2 border-white"
          ></div>
        </div>
        <div class="ml-4">
          <div class="font-semibold">
            {{ room.participant?.firstName }}
          </div>
          <div class="text-sm text-gray-500 truncate">
            {{ room.lastMessage | date : "dd/MM/yyyy HH:mm" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
