.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #089b8c;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-btn:not(:disabled):hover {
    background-color: #067f6c;
}

.pagination-info {
    margin: 0 15px;
    font-size: 1rem;
    color: #333;
}