<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Setup - Worklin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .bg-gradient-green {
        background: linear-gradient(135deg, white 70%, #97ffee 100%);
      }
      input:focus,
      select:focus,
      textarea:focus {
        outline: none;
        border-color: #38b2ac;
        box-shadow: 0 0 0 3px rgba(5, 125, 119, 0.5);
      }
      .image-container {
        position: relative;
        height: 4rem; /* Adjust based on the desired size */
        width: 4rem; /* Adjust based on the desired size */
        border-radius: 50%;
        overflow: hidden;
        background-color: #f0f0f0; /* Light gray background */
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .image-container img {
        object-fit: cover; /* Ensures the image covers the container */
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body class="bg-white min-h-screen flex flex-col">
    <div class="bg-white border-b border-gray-200 w-full p-4">
      <div class="container mx-auto flex justify-between">
        <div style="color: #089b8c" class="text-xl font-bold">Worklin</div>
        <div class="text-gray-500">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 4.354a8 8 0 110 15.292 8 8 0 010-15.292z"
            ></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="flex flex-1 w-full justify-center items-start p-10">
      <div class="bg-white p-10 rounded-lg max-w-4xl w-full">
        <div class="mb-8">
          <span class="text-gray-500">10/10</span>
          <h2 class="text-2xl font-bold mt-2 mb-4">
            A few last details, then you can check and publish your profile.
          </h2>
          <p class="text-gray-600 mb-6">
            A professional photo helps you build trust with your clients. To
            keep things safe and simple, they'll pay you through us - which is
            why we need your personal information.
          </p>
          <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
            <div class="mb-4 items-center">
              <div class="image-container">
                <img
                  *ngIf="uploadedImageUrl"
                  [src]="uploadedImageUrl"
                  class="object-cover"
                />
                <span *ngIf="!uploadedImageUrl" class="text-gray-500 text-xl">
                  +
                </span>
              </div>

              <button class="bg-black p-2 rounded mt-3">
                <app-photo-upload-modal
                  (cdnUrl)="onImageUploaded($event)"
                  class=""
                ></app-photo-upload-modal>
              </button>
              <div *ngIf="imageError" class="text-red-500 text-sm mt-1">
                Image is required.
              </div>
            </div>
            <div class="mb-4 grid grid-cols-2 gap-4">
              <!-- Date of Birth Component -->
              <div>
                <label for="dob" class="block text-gray-700"
                  >Date of Birth *</label
                >
                <app-date-picker
                  name="dob"
                  required
                  (dateSelected)="onDateSelected($event)"
                ></app-date-picker>
                <div *ngIf="dobError" class="text-red-500 text-sm mt-1">
                  {{ dobErrorMessage }}
                </div>
              </div>

              <!-- Country Dropdown -->
              <div>
                <label for="country" class="block text-gray-700"
                  >Country *</label
                >
                <select
                  id="country"
                  formControlName="country"
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
                  required
                >
                  <option value="" disabled>Select your country</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <option value="India">India</option>
                  <!-- Add other options as needed -->
                </select>
                <div
                  *ngIf="
                    profileForm.get('country')?.invalid &&
                    profileForm.get('country')?.touched
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Country is required.
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label for="address" class="block text-gray-700"
                >Street address *</label
              >
              <input
                type="text"
                id="address"
                formControlName="address"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
                required
              />
              <div
                *ngIf="
                  profileForm.get('address')?.invalid &&
                  profileForm.get('address')?.touched
                "
                class="text-red-500 text-sm mt-1"
              >
                Address is required.
              </div>
            </div>
            <div class="mb-4 grid grid-cols-2 gap-4">
              <div>
                <label for="city" class="block text-gray-700">City *</label>
                <input
                  type="text"
                  id="city"
                  formControlName="city"
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
                  required
                />
                <div
                  *ngIf="
                    profileForm.get('city')?.invalid &&
                    profileForm.get('city')?.touched
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  City is required.
                </div>
              </div>
              <div>
                <label for="state" class="block text-gray-700">State</label>
                <input
                  type="text"
                  id="state"
                  formControlName="state"
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
                />
              </div>
            </div>
            <div class="mb-4 grid grid-cols-2 gap-4">
              <div>
                <label for="phone" class="block text-gray-700">Phone *</label>
                <input
                  type="tel"
                  id="phone"
                  formControlName="phone"
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
                  required
                />
                <div
                  *ngIf="
                    profileForm.get('phone')?.invalid &&
                    profileForm.get('phone')?.touched
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  Phone number is required and must be 10 digits.
                </div>
              </div>
              <div>
                <label for="zip" class="block text-gray-700">ZIP Code</label>
                <input
                  type="text"
                  id="zip"
                  formControlName="zip"
                  class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
                />
              </div>
            </div>
            <div class="mb-4">
              <label for="apt" class="block text-gray-700">Apartment</label>
              <input
                type="text"
                id="apt"
                formControlName="apt"
                class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:border-none focus:ring-teal-500 focus:border-teal-500"
              />
            </div>
            <div class="flex justify-center">
              <button
                type="submit"
                class="bg-green-500 text-white px-4 py-2 rounded-md"
              >
                Save & Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="bg-white w-full p-4 border-t border-gray-200">
      <div class="container mx-auto flex justify-between items-center">
        <button class="bg-gray-200 text-gray-700 px-4 py-2 rounded">
          Back
        </button>
        <button
          class="bg-green-600 text-white px-6 py-2 rounded"

        >
          Post Profile
        </button>
      </div>
    </div>
  </body>
</html>
