.custom-width {
    max-width: 90%;
    /* Increase the modal width */
}

.dropdown-icon {
    padding-right: 10px;
    /* Add padding to the dropdown icon */
}
.custom-width {
    width: 50%;
    /* Set modal width to 50% of the page */
}