
@import '@ctrl/ngx-emoji-mart/picker';
audio {
    max-width: 100%;
    border-radius: 20px;
}
.h-screen {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}.audio-preview,
.image-preview,
.video-preview,
.file-preview {
    margin: 8px 0;
}

.file-preview {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.file-preview:hover {
    background-color: #e2e2e2;
}

.file-icon {
    margin-right: 12px;
}

.file-name {
    font-size: 14px;
}

.download-link {
    margin-left: auto;
    font-weight: 500;
    color: #007bff;
}

.download-link:hover {
    text-decoration: none;
    color: #0056b3;
}

.incoming-call-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.incoming-call-notification button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.incoming-call-notification button:first-child {
    background-color: #4CAF50;
    color: white;
}

.incoming-call-notification button:last-child {
    background-color: #f44336;
    color: white;
}