// .my-config {
//     --uc-primary-oklch-dark: 69% 0.1768 258.4;
//     --uc-primary-oklch-light: 59% 0.22 264;
// }
/* Add any custom styles you need here */
 
// .my-config {
//     --uc-primary-oklch-dark: 69% 0.1768 174;
//     --uc-primary-oklch-light: 59% 0.1523 174;
// }
.my-config {
    --darkmode: 0;
    --h-accent: 144;
    --s-accent: 67%;
    --l-accent: 57%;
}