<body class="">
  <app-navbar-after-login></app-navbar-after-login>
  <div class="mx-20 mt-12">
    <h1 class="text-5xl">My proposals</h1>
    <div class="mt-6 space-y-6">
      <div
        class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
        style="font-size: 1.25rem"
      >
        <a href="/freelancer/my-invites">Invites (0)</a>
      </div>
      <div
        class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
        style="font-size: 1.25rem"
      >
        <a href="/freelancer/my-invites"> Job Offers </a>
      </div>
      <!-- <div
        class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
        style="font-size: 1.25rem"
      >
        <span>Active proposals (0)</span>
      </div> -->
      <!-- <div
        class="border border-gray-300 rounded-lg p-6 flex justify-between items-center"
        style="font-size: 1.25rem"
      >
        <span>Submitted proposals (0)</span>
      </div> -->
    </div>
  </div>
</body>
