<div class="py-4 px-8">
  <div class="flex items-center space-x-4 mb-4">
    <input
      type="text"
      placeholder="Search"
      class="border border-gray-300 rounded-lg px-4 py-2 flex-grow"
    />
    <label class="flex items-center space-x-2">
      <input type="checkbox" class="form-checkbox" />
      <span>Available now</span>
    </label>
    <button class="text-green-600">Filters</button>
  </div>

  <div class="flex space-x-4">
    <!-- Display all freelancers button -->
    <button class="text-gray-700" (click)="displayAllFreelancers()">All</button>

    <!-- Display invited freelancers button -->
    <button class="text-gray-700" (click)="displayInvitedFreelancer()">
      Invited Freelancers
    </button>
  </div>
</div>

<div class="px-8 py-4 mt-5">
  <!-- Show all freelancers when showAllFreelancers is true -->
  <div *ngIf="showAllFreelancers">
    <!-- Check if the freelancers array is empty -->
    <div *ngIf="freelancers.length === 0" class="text-center text-gray-600">
      No user with your required skill found
    </div>

    <div class="px-8 py-4">
      <div
        *ngFor="let freelancer of freelancers"
        class="bg-white border border-gray-200 p-4 rounded-lg mb-4"
      >
        <div class="flex space-x-4 items-center">
          <img
            [src]="freelancer.picture"
            alt="{{ freelancer.firstName }}"
            class="h-16 w-16 rounded-full"
          />
          <div class="flex-grow">
            <h2 class="text-lg font-semibold">{{ freelancer.firstName }}</h2>
            <p class="text-gray-600">
              {{ truncateBio(freelancer.bio, 100) }}
            </p>
            <p class="text-sm text-gray-500">{{ freelancer.country }}</p>
            <div class="text-gray-500 text-sm mt-1">{{ freelancer.role }}</div>
            <div class="text-sm text-green-600">
              {{ freelancer.hourlyRate | currency }} |
              {{ freelancer.serviceRate | currency }}
            </div>
          </div>
          <div class="flex space-x-2">
            <button (click)="hireFreelancer(freelancer)" class="fixed-width-button white">Hire</button>
            <button
              (click)="openInviteModal(freelancer)"
              class="fixed-width-button green"
            >
              Invite to Job
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Show invited freelancers when openInvitedFreelancer is true -->
  <app-view-invited-freelancer
    *ngIf="openInvitedFreelancer && !showAllFreelancers"
    (close)="closeInviteFreelancer()"
    [jobId]="jobId"
  ></app-view-invited-freelancer>

  <!-- Invite modal -->
  <app-invite-to-job-modal
    *ngIf="inviteModalOpen && !openInvitedFreelancer"
    [freelancer]="selectedFreelancer"
    (close)="closeInviteModal()"
    [jobId]="jobId"
  ></app-invite-to-job-modal>
</div>
