        <aside class="w-48 bg-white border-r border-gray-200">
            <div class="p-4 pr-3">
                <div class="flex items-center justify-start">
                    <span class="text-3xl font-bold text-teal-600 ml-5">Worklin</span>
                </div>
                <nav class="mt-6">
                    <a href="#" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-200">
                        <span class="material-icons">dashboard</span>
                        <span class="ml-3">Dashboard</span>
                    </a>
                    <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-200">
                        <span class="material-icons">desktop_windows</span>
                        <span class="ml-3">Work desk</span>
                    </a>
                    <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-200">
                        <span class="material-icons">group</span>
                        <span class="ml-3">Members</span>
                    </a>
                    <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-200">
                        <span class="material-icons">payment</span>
                        <span class="ml-3">Payments</span>
                    </a>
                    <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-200">
                        <span class="material-icons">meeting_room</span>
                        <span class="ml-3">Meetings</span>
                    </a>
                </nav>
            </div>
        </aside>
